<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <main id='app'>
      <h1>If you can read this, something bad happened....</h1>
    </main>
  </body>
  <script src="dist/bundle.js" charset="utf-8"></script>
</html>
