<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <main id='app'>
      <h1>If you can read this, something bad happened....</h1>
    </main>
  </body>
<script src="https://www.gstatic.com/firebasejs/3.6.8/firebase.js"></script>
<script>
  var config = {
    apiKey: "AIzaSyAmNaaT-pwIk8lfAaKtASQdkPqOMTE5f4Y",
    authDomain: "retro-pigskin-app.firebaseapp.com",
    databaseURL: "https://retro-pigskin-app.firebaseio.com",
    storageBucket: "retro-pigskin-app.appspot.com",
    messagingSenderId: "574322096340"
  };
  firebase.initializeApp(config);
</script>
  <script src="dist/bundle.js" charset="utf-8"></script>
  <script src="/js/jquery.min.js" charset="utf-8"></script>
  <script src="/js/jquery-ui.min.js" charset="utf-8"></script>
  <script src="/js/wow.min.js" charset="utf-8"></script>
</html>
