a {
  text-decoration: none;
}

.details__container {
  display: block;
  margin-left: 20px;
  vertical-align: top;
}

.fa-play {
  background-color: rgba(20, 20, 20, 0.8);
  border-radius: 6px;
  color: white;
  content: "\f04b";
  margin-left: 30px;
  margin-top: 30px;
  padding-left: 6px;
  position: absolute;
  text-align: center;
  width: 60px;
}

.game__year {
  color: #FB9B2A;
  list-style: none;
  margin-bottom: 10px;
  text-align: center;
}

.group__link {
  text-decoration: none;
}

h2{
  font-size: 18px;
}

.header {
  color: darkred;
  display: inline-block;
  margin-right: 30px;
  text-align: left;
}

.headerText {
  margin-left: 20px;
}

.image__container {
  margin-left: auto;
  margin-right: auto;
  width: 120px;
}

.image__streamer {
  background: rgba(44, 62, 80,.8);
  color: #FB9B2A;
  display: block;
  font-size: 40px;
  margin-left: 232px;
  margin-right: auto;
  margin-top: 30px;
  padding-top: 100px;
  padding-bottom: 105px;
  position: absolute;
  text-align: center;
  width: 500px;
}

.main__container {
  background: white;
  border-color: #FB9B2A;
  border-left-style: ridge;
  border-right-style: ridge;
  border-width: 1px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  width: 400px;
}


.mainVideo__details {
  display: table;
  font-size: 14px;
  margin: 0 auto 0 auto;
  padding-bottom: 10px;
  text-align: center;
  width: 300px;
}

.mainVideo__title {
  color: darkred;
  display: table;
  font-size: 18px;
  margin: 10px auto 10px auto;
  text-align: center;
  width: 300px;
}

/* Read More Dropdown */
.hideDetails {
  display: none;
}

.showDetails {
  display: table;
  font-size: 14px;
  margin: 0 auto 0 auto;
  padding-bottom: 10px;
  text-align: center;
  width: 300px;
}

.transition__button {
  display: block;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background: white;
  border: none;
}

/**/
.movie {
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 398px;
}

nav {
  color: darkred;
  border-bottom-style: ridge;
  border-bottom-width: 1px;
  border-color: #FB9B2A;
  height: 40px;
}

.navLink {
  color: #FB9B2A;
  display: inline;
  font-size: 14px;
  margin-right: 20px;
  text-decoration: none;
}

.navSignIn {
  font-size: 14px;
  text-decoration: none;
  color: #FB9B2A;
}

.results__summary {

}

.search__heading {
  text-align: center;
}

.search__section {
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  width: 400px;
}

.secondary__container {
  background: white;
  border-color: #FB9B2A;
  border-style: ridge;
  border-width: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  width: 300px;
}

.super-crazy-colors{
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.tagline {
  margin: 0;
  padding-top: 19px;
  text-align: center;
}

.tagline__title {
  background: white;
  color: #FB9B2A;
  display: block;
  font-size: 18px;
  font-weight: 100;
  margin: 0 auto;
  padding-bottom: 15px;
  text-align: center;
  width: 300px;
}

.title__section {
  background: rgb(241, 241, 241);
}

ul {
  list-style: none;
  padding-left: 0;
}

.video__details {
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding-right: 20px;
  text-align: justify;
  width: 250px;
}

.video__details__search {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  text-align: center;
  width: 200px;
}

.video__image {
  display: block;
  margin-left: auto;
  margin-top: 30px;
  margin-right: auto;
  width: 120px;
}

.video__title {
  color: #FB9B2A;
  display: block;
  font-size: 14px;
  font-weight: 100;
  margin: 10px auto 10px auto;
  padding-right: 20px;
  text-align: center;
  vertical-align: top;
  width: 150px;
}

.video__title__search {
  color: #FB9B2A;
  display: block;
  font-size: 14px;
  font-weight: 100;
  margin: 10px auto 10px auto;
  text-align: center;
  vertical-align: top;
  width: 150px;
}

.yearContainer {
  text-align: center;
}
