/*a {
  text-decoration: none;
}

.content__bundle {
  padding-right: 25px;
}

.details__container {
  display: block;
  margin-left: 50px;
  vertical-align: top;
}

.fa-play {
  background-color: rgba(20, 20, 20, 0.8);
  border-radius: 6px;
  color: white;
  content: "\f04b";
  margin-left: 43px;
  margin-top: 43px;
  padding-left: 6px;
  position: absolute;
  text-align: center;
  width: 60px;
}

.game__year {
  color: #FB9B2A;
  list-style: none;
  margin-bottom: 10px;
  text-align: center;
}

.group__link {
  text-decoration: none;
}

.g-signin2 {

}

h2 {
  font-size: 18px;
}

.header {
  color: darkred;
  display: inline-block;
  margin-right: 30px;
  text-align: left;
}

.headerText {
  margin-left: 20px;
}

.image__container {
  margin-left: auto;
  margin-right: auto;
  width: 120px;
}

.image__streamer {
  background: rgba(44, 62, 80,.8);
  color: #FB9B2A;
  display: block;
  font-size: 40px;
  margin-left: 232px;
  margin-right: auto;
  margin-top: 30px;
  padding-top: 100px;
  padding-bottom: 105px;
  position: absolute;
  text-align: center;
  width: 500px;
}

.main__container {
  background: white;
  border-color: #FB9B2A;
  border-left-style: ridge;
  border-right-style: ridge;
  border-width: 1px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  width: 600px;
}

.mainVideo__details {
  display: table;
  font-size: 14px;
  margin: 0 auto 0 auto;
  padding-bottom: 10px;
  text-align: center;
  width: 300px;
}

.mainVideo__title {
  color: darkred;
  display: table;
  font-size: 18px;
  margin: 10px auto 10px auto;
  text-align: center;
  width: 300px;
}

/* Read More Dropdown */
.hideDetails {
  display: none;
}

.showDetails {
  display: table;
  font-size: 14px;
  margin: 0 auto 0 auto;
  padding-bottom: 10px;
  text-align: center;
  width: 300px;
}

.transition__button {
  display: block;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background: white;
  border: none;
}

/**/
/*.movie {
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 550px;
}

nav {
  color: darkred;
  border-bottom-style: ridge;
  border-bottom-width: 1px;
  border-color: #FB9B2A;
  height: 40px;
}

.nav__currentUser {
  color: rgb(245, 245, 245);
  display: inline-block;
  position: absolute;
  top: 1.5rem;
  right: 9rem;
}

.nav__currentUserImage {
  border: transparent;
  border-radius: 50%;
  position: absolute;
  top: 1rem;
  right: 6.5rem;
  width: 2rem;
}

/*.navSignIn {
  font-size: 14px;
  text-decoration: none;
  color: #FB9B2A;
}*/

/*.results__summary {

}

.search__heading {
  text-align: center;
}

.search__section {
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  width: 400px;
}

.secondary__container {
  background: white;
  border-color: #FB9B2A;
  border-style: ridge;
  border-width: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  width: 300px;
}

.super-crazy-colors{
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.tagline {
  margin: 0;
  padding-top: 19px;
  text-align: center;
}

.tagline__title {
  background: white;
  color: #FB9B2A;
  display: block;
  font-size: 18px;
  font-weight: 100;
  margin: 0 auto;
  padding-bottom: 15px;
  text-align: center;
  width: 300px;
}

.title__section {
  background: rgb(241, 241, 241);
}

ul {
  list-style: none;
  padding-left: 0;
}

.userLogOutButton{}

.video__details {
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding-right: 20px;
  text-align: center;
  width: 180px;
}

.video__details__search {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  text-align: center;
  width: 200px;
}

.video__image {
  display: block;
  margin-left: auto;
  margin-top: 30px;
  margin-right: auto;
  width: 150px;
}

.video__title {
  color: #FB9B2A;
  display: block;
  font-size: 14px;
  font-weight: 100;
  margin: 10px auto 2px auto;
  padding-right: 20px;
  text-align: center;
  vertical-align: top;
  width: 150px;
}

.video__title__search {
  color: #FB9B2A;
  display: block;
  font-size: 14px;
  font-weight: 100;
  margin: 10px auto 10px auto;
  text-align: center;
  vertical-align: top;
  width: 150px;
}

.yearContainer {
  text-align: center;
}*/
*/
/* NEW CONTENT  */


* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1 {
  display: inline;
  margin-left: 0;
}

header {
  width: 130px;
  display: inline;
}

/* Up Next videos */

.aside__title {
  display: table;
  font-size: 16px;
  margin: 5px 0 0 10px;
  width: 100px;
}

.aside__user {
  color: rgb(85, 85, 85);
  display: table-cell;
  font-size: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.aside__views {
  color: rgb(85, 85, 85);
  font-size: 10px;
  margin-top: 1px;
}

.button__upload {
  background-color: rgb(248, 248, 248);
  display: inline-block;
  font-size: 9px;
}

.cat__hat__div {
  display: inline-flex;
  margin-left: 10px;
  margin-top: 5px;
  width: 40px;
}

.comments__section {
  background-color: white;
  color: rgb(85, 85, 85);
  display: inline-flex;
  height: 40px;
  padding-left: 10px;
  width: 678px;
}

.comments__text {
  font-size: 12px;
  padding: 10px 0 0 3px;
  margin-top: 8px;
}

.container {
  margin-top: 5px;
}

.description {
  font-size: 12px;
  margin-top: 0;
}

.description__heading {
  font-size: 13px;
  margin-bottom: 4px;
  margin-top: 10px;
  padding-top: 10px;
}

.details__div {
  display: inline-block;
  margin: 0;
  margin-left: 10px;
  vertical-align: top;
  width: 150px;
}

.div__aside {
  display: inline;
}

.div__video {
  display: inline-block;
  width: 678px;
}

.element__add__to {
  color: rgb(85, 85, 85);
  font-size: 12px;
  margin-right: 25px;
}

.element__aside {
  background-color: gray;
  border-color: darkred;
  border-style: ridge;
  border-width: 3px;
  display: inline-block;
  float: right;
  height: 900px;
  margin-top: 5px;
  width: 350px;
}

.element__dislikes {
  color: rgb(85, 85, 85);
  font-size: 12px;
}

.element__likes {
  color: rgb(85, 85, 85);
  margin-right: 15px;
  font-size: 12px;
}

.element__more {
  color: rgb(85, 85, 85);
  font-size: 12px;
  margin-right: 450px;
}

.element__share {
  color: rgb(85, 85, 85);
  font-size: 12px;
  margin-right: 25px;
}

.fa-play {
  background-color: rgba(20, 20, 20, 0.8);
  border-radius: 6px;
  color: white;
  content: "\f04b";
  margin-left: 153px;
  margin-top: 48px;
  padding-left: 6px;
  position: absolute;
  text-align: center;
  width: 60px;
}
.full__body {
  background-color: rgb(241, 241, 241);
  margin: 0;
}

.h3__details {
  display: inline;
  font: bold;
  font-size: 13px;
  margin-bottom: 0;
  margin-top: 0;
  width: 182px;
}

.img__aside {
  display: block;
  height: 130px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  width: 180px;
}

.img__profile {
  border-radius: 19px;
  display: inline-block;
  margin-left: 16px;
  margin-top: 2px;
  vertical-align: top;
  width: 19px;
}

.link__title {
  text-decoration: none;
}

.logo__youtube {
  display:inline-block;
  margin-top: -9px;
  width: 60px;
}

.main {
  background-color: rgb(241, 241, 241);
  display: inline-block;
  margin-left: 125px;
  margin-top: 10px;
  width: 678px;
}

.nav__bar {
  background-color: white;
  border-style: ridge;
  height: 40px;
  padding: 9px 20px;
}

.nav__Link {
  display: inline;
  margin-left: 15px;
  text-decoration: none;
}

.nav__signIn {
  background-color: rgb(231, 76, 60);
  border-radius: 0.4rem;
  color: rgb(245, 245, 245);
  display: inline-block;
  padding: 0.3rem 1rem;
  position: absolute;
  top: 0.9rem;
  right: 1rem;
  transition: color 0.6s, background-color 0.6s;
}

.nav__signIn:hover, .nav__signOut:hover {
  background-color: rgb(245, 245, 245);
  color: rgb(231, 76, 60);
  cursor: pointer;
  transition: color 0.6s, background-color 0.6s;
}

.nav__signOut {
  background-color: rgb(231, 76, 60);
  border-radius: 0.4rem;
  color: rgb(245, 245, 245);
  display: inline-block;
  padding: 0.5rem 1rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  transition: color 0.6s, background-color 0.6s;
}
.nav__signout--hide {
  display: none;
}

.options__bar {
  background-color: white;
  display: inline-flex;
  height: 45px;
  margin-top: 3px;
  padding-left: 10px;
  text-align: center;
  width: 678px;
}

.search__form {
  border-color: black;
  display: inline-block;
  margin-left: 85px;
  vertical-align: top;
}
/* Nav search bar */
.search__submit,
.search__text {
  display:inline-block;
  height: 21px;
}

.search__submit {
  background-color: rgb(249,249,249);
  border: 5px;
  border-color: rgb(225, 225, 225);
  padding: 3px;
  width: 52px;
}

.search__text {
  width: 460px;
}

.show__more__div {
  background-color: white;
  height: 20px;
  padding-top: 4px;
  width: 678px;
}

.show__more__text {
  color: rgb(85, 85, 85);
  font-size: 11px;
  font-weight: 600px;
  margin: 0;
  text-align: center;
}

.subscribe__div {
  display: inline-table;
  width: 150px;
}

.subscribe__group {
  display: inline-flex;
  width: 100px;
}

.subscription__count {
  font-size: 10px;
  text-align: center;
  width: 30px;
}

.up__next__img {
  display: inline-block;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 150px;
}

.user__group__top {
  display: inline-block;
  float: right;
}

.username__freestyler {
  color: rgb(85, 85, 85);
  display: inline;
  font-size: 13px;
  font-weight: 600;
  vertical-align: top;
  width: 180px;
}

.video {
  border-color: darkred;
  border-style: groove;
  border-width: 4px;
  display: inline-block;
  height: 385px;
  width: 678px;
}

.video__cat__photo {
  display: inline-block;
  height: 40px;
  vertical-align: top;
  width: 40px;
}

.video__description {
  background-color: white;
  border-bottom-style: ridge;
  border-bottom-width: thin;
  display: inline-block;
  height: 90px;
  margin-top: 25px;
  padding-left: 10px;
  width: 678px;
}

.video__title {
  display: table;
  font-size: medium;
  margin-bottom: 0;
  margin-left: 10px;
  margin-top: 10px;
  width: 350px;
}

.video__section {
  background-color: white;
  border-bottom-style: groove;
  border-bottom-width: thin;
  display: inline-block;
  height: 98px;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  width: 678px;
}

.video__subscribe__button {
  background-color:red;
  color: white;
}

.video__username__aside {
  display: inline-block;
  font-size: small;
  margin: 0;
  width: 600px;
}

/* Video Views text */
.video__views__count {
  color: rgb(85, 85, 85);
  display: inline-block;
  float:right;
  font-size: large;
  font-weight: 500;
  margin-bottom: 0;
  margin-right: 15px;
  margin-top: 0;
}
