
.game__year {
  color: #FB9B2A;
  list-style: none;
  margin-bottom: 10px;
  text-align: center;
}

.group__link {
  text-decoration: none;
}

.header {
  display: inline-block;
  margin-right: 30px;
  text-align: left;
}

.headerText {
  color: #FB9B2A;
  margin-left: 20px;
}

.image__streamer {
  background: rgba(44, 62, 80,.8);
  color: #FB9B2A;
  display: block;
  font-size: 40px;
  margin-left: 232px;
  margin-right: auto;
  margin-top: 30px;
  padding-top: 100px;
  padding-bottom: 105px;
  position: absolute;
  text-align: center;
  width: 500px;
}

.mainVideo__details {
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  text-align: center;
  width: 500px;
}

.mainVideo__title {
  display: table;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 600px;
}

.movie {
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navLink {
  color: #FB9B2A;
  display: inline;
  margin-right: 20px;
  text-decoration: none;
}

.search__heading {
  text-align: center;
}

.search__section {
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  width: 400px;
}

.tagline {
  text-align: center;
  margin: 0;
  padding-top: 19px;
}

.tagline__title {
  color: #FB9B2A;
  display: list-item;
  font-size: 1.5em;
  margin-top: 0;
  padding-top: 30px;
  text-align: center;
}

.title__section {
  background: rgba(44, 62, 80,.8);
}

.video__carousel {
  background: rgba(44, 62, 80,.8);
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 600px;
}

.video__details {
}

.video__image {
  display: inline-block;
  margin-left: 10px;
  margin-top: 30px;
  width: 200px;
}

.video__title {
  color: #FB9B2A;
  display: inline-block;
  font-weight: 100;
  margin-left: 20px;
  padding-top: 30px;
  text-align: left;
  vertical-align: top;
  width: 200px;
}

@media only screen and (min-width: 478px) {

}
