.aboutContent {
  display: block;
  margin: 15px auto 0 auto;
  text-align: center;
  width: 600px;
}

.blogContent {
  display: block;
  margin: 0 auto 0 auto;
  text-align: center;
  width: 600px;
}

.blogDate {
  margin-top: 1px;
  text-align: center;
}

.blogHeading {
  display: inline-block;
  font-size: 20px;
  font-weight: 800;
  margin-top: 40px;
  text-align: center;
}

.blogTitle {
  margin-bottom: 1px;
  text-align: center;
}

.header {
  background-color: cadetblue;
  height: 50px;
  margin-bottom: 15px;
}

.headerText {
  padding-top: 10px;
  text-align:center;
}

.infoList {
  list-style: none;
  margin-bottom: 4px;
  text-align: center;
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: blue;
}

.navLink {
  color: blue;
  margin-right: 5px;
  text-decoration: none;
}

.photo {
  display: block;
  margin: 0 auto 0 auto;
  width: 300px;
}

.projectLink {
  color: blue;
  list-style: none;
  text-decoration: none;
}

.projectList {

}

.projectsHeading {
  font-size: 20px;
  margin-top: 40px;
}

.quickInfo {
  text-align: center;
}
